<div class="contenedor">

    <!-- <h1>Latest releases</h1> -->

    <!-- Película -->
    <div class="pelicula" *ngFor="let pelicula of peliculas">

        <!-- Portada -->
        <div class="portada-pelicula">
            <img src="{{pelicula.imagen}}" alt="{{pelicula.titulo}}">
        </div>

        <!-- Detalles -->
        <div class="detalles">
            <h3>{{pelicula.titulo}}</h3>

            <!-- Ficha técnica -->
            <div class="ficha-tecnica">
                <p><span class="resaltado">Release date </span>{{pelicula.estreno}}</p>
                <p class="descripcion">{{(pelicula.descripcion | slice: 0:200) + (pelicula.descripcion.length > 220 ? '...' : '')}}</p>
                <p class="score"><span class="resaltado">Rating </span>{{pelicula.puntuacion}}</p>
            </div>
        </div>

    </div>

</div>